.logo-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px){
  margin-left: -30px;}
  @media screen and (min-width: 1200px){
  margin-left: -30px;
  }
}
.logo-list__item{
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px){
  width: calc(100% / 3 - 30px);
  margin-left: 30px;}
  @media screen and (min-width: 1200px){
  width: calc(100% / 6 - 30px);
  margin-left: 30px;
}
}
.logo-list__link{
  outline: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
 
  border: 1px solid #AFB1B8;
  border-radius: 4px;

  background-color: #FFFFFF;

  transition: background-color var(--duration) var(--time-function);
  &:hover,
  &:focus{
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px){
  width: 226px;
}
@media screen and (min-width: 1200px){
  width:170px;
}
}
.logo-list__icon{
  fill: #AFB1B8;
 
  transition: fill var(--duration) var(--time-function);
  .logo-list__link:hover &,
  .logo-list__link:focus &{
  fill:var(--hover-color);
}
}
