.backdrop{
  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--duration) var(--time-function),visibility var(--duration) var(--time-function);
}
.backdrop.is-hidden .modal{
  transform: scale (0,5);
}
.modal{
  @media screen and (max-width: 479px){
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 98%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  background-color: #FFFFFF;

  transition: transform var(--duration) var(--time-function),visibility var(--duration) var(--time-function);
  transform: translate(-50%,-50%) scale(1);
  }
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  min-height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;

  background-color: #FFFFFF;

  transition: transform var(--duration) var(--time-function),visibility var(--duration) var(--time-function);
  transform: translate(-50%,-50%) scale(1);
  
  @media screen and (min-width: 1200px){
  width: 528px;
  min-height: 581px;
}
}
.modal-close{
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;

  fill: #000000;
  transition: fill var(--duration) var(--time-function);
  &:hover,
  &:focus{
  fill: var(--accent-color);
}
}
.modal__text{
font-weight: 700;
font-size: 20px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.03em;

margin-bottom: 12px;

color: #212121;
@media screen and (min-width: 1200px){
  line-height: 1.15;
}
}