.list-contacts{
margin-left: auto;

@media screen and (min-width: 1200px){
display: flex;
justify-content: center;
}
}
.list-contacts__item{
align-items: center;
margin-left: auto;

@media screen and (min-width: 1200px){
display: flex;
}
}
.list-contacts__item + .list-contacts__item{
  @media screen and (min-width: 1200px){
  margin-left: 50px;
  }
}
.list-contacts__link{
font-weight: 500;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.02em;

display: flex;
align-items: center;

color: var(--top-text-color);

transition: color var(--duration) var(--time-function);
&:hover,
&:focus {
color:var(--hover-color);
}

@media screen and (min-width: 1200px){
padding-top: 32px;
padding-bottom: 32px;
font-size: 14px;
line-height: 1.14
}
}
.list-contacts__item--top{
  @media screen and (min-width: 768px) and (max-width: 1199px){
  margin-bottom: 10px;
  }
}
.list-contacts__icon{
  display: block;
  cursor: pointer;
  margin-right: 10px;
 
  fill: var(--top-text-color);
}
.list-contacts__link:hover .icon-envelope,
.list-contacts__link:focus .icon-envelope,
.list-contacts__link:hover .icon-smartphone,
.list-contacts__link:focus .icon-smartphone{
fill:var(--hover-color);
}

