.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  outline: 1px solid rgb(224, 34, 145);
 }
.container--top{
  display: flex;
  align-items: center;
}
.container--bottom{
  display: flex;
  align-items: baseline;
}