
.advantages {
  padding-bottom: 80px;
}
.advantages-list {
  margin-bottom: -32px;
}
.advantages-item {
  margin-bottom: 32px;
}
.advantages-top-text {
font-family: 'Titan One';
font-size: 36px;
line-height: 1.14;
letter-spacing: 0.04em;
text-transform: uppercase;

color: #D41443;
}
.advantages-bottom-text {
font-weight: 700;
font-size: 12px;
line-height: 1.17;

color: #000000;
}