.soc-list{
  display: flex;
  justify-content: center;
}
.soc-list__item  + .soc-list__item {
  margin-left: 10px;
}
.soc-list__link{
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition: background-color var(--duration) var(--time-function);
  &:hover,
  &:focus{
  background-color: var(--hover-color);
}
}
.soc-list__link--white{

  background-color: #FFFFFF;
}
.soc-list__link--grey{
background-color: rgba(255, 255, 255, 0.1);
}
.soc-list__icon{
  transition:fill var(--duration) var(--time-function);
  .soc-list__link:hover &,
  .soc-list__link:focus &{
  fill:#FFFFFF ;
}
}
.soc-list__icon--grey{
fill: #AFB1B8;
}
.soc-list__icon--white{
fill: #FFFFFF;
}

